.md-grid {
  max-width: initial;
}

div.dt-container,
div.dataTables_wrapper {
  width: 100%;
  overflow-x: auto;
}

table.dataTable {
  width: 100% !important;
}

table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}